@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@theme {
	--color-background: #111214;
	--color-container: #1a1b1e;
	--color-container-secondary: #242629;
	--color-foreground: #f0f0f0;
	--color-foreground-muted: #8a8b8e;

	--color-accent: #f2528f;
	--color-border: #36393f;

	--font-sans: 'Poppins', sans-serif;
	--font-mono: 'Fira Code', monospace;
}

@layer {
	body {
		@apply bg-background font-sans text-white;
	}
}
